.container {
  --color: cornflowerblue;
  outline: .1rem solid var(--color, black);
  padding: 2rem;
  border-radius: .5rem;

  margin-top: 2rem;
}

.container+.container {
  /* no funciona ya que estan envueltos enelementos <app> */
}

h2 {
  text-decoration: underline wavy cornflowerblue;
}

form>* {
  display: block;
}